
.time-travel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  background: #eee;
}
.time-travel .container {
  overflow: scroll;
  height: 100vh;
  padding: 50vh 0;
}
.time-travel .cursor {
  position: absolute;
  top: 50%;
  width: 100%;
  border: 1px solid #000;
}
.time-travel > header {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 60px;
  background: #ccc;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.time-travel > header .day {
   font-weight: bold;
   font-size: 24px;
}
.time-travel > header .month {
   font-size: 8px;
}
.time-travel > header .year {
   font-size: 10px;
}
.time-travel > footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background: #ccc;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}
.time-travel > footer.future {
  background-color: #F9F;
}
.time-travel > footer.past {
  background-color: #FF9;
}
.time-travel .month-header {
  border-top: 1px solid #000;
  padding-top: 2px;
  background: #f3f3f3;
  font-size: 0.6em;
  font-weight: bold;
}
.time-travel .month .day {
  cursor: pointer;
  user-select: none;
  line-height: 40px;
  font-size: 20px;
  color: #000;
}
.time-travel .month .day.today {
  color: #F00;
}
.time-travel .month .day.selected {
  font-weight: bold;
}
.time-travel .month .day:nth-child(odd) {
  background: #eee;
}
.time-travel .month .day:nth-child(even) {
  background: #f3f3f3;
}
