.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-body {
  max-width: 600px;
  margin: 10px auto;
}

.seedling-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.seedling.starter {
  position: relative;
  width: 100px;
  height: 60px;
  background: #eee;
  border-radius: 4px;
  margin: 8px 4px;
}
.seedling.starter .decorator {
  background: #261;
  border-radius: 0 0 4px 4px;
  border: 1px #261 solid;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 40%;
  bottom: -1px;
  left: -1px;
}

.seedling.bigbox {
  position: relative;
  width: 80px;
  height: 60px;
  background: #f9f9f9;
  border: 2px solid #eee;
  border-radius: 2px;
  margin: 8px;
}

.seedling.eggbox {
  position: relative;
  width: 100px;
  height: 60px;
  background: #eee;
  border-radius: 4px;
  margin: 8px 2px;
}

.seedling .splitters .splitter {
  position: absolute;
  top: 5%;
  height: 90%;
  width: 1px;
  background: rgba(128,128,128,0.1);
}

.seedling .body .section {
  position: absolute;
  top: 0%;
  height: 100%;
}

.waterTanks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.waterTank {
  width: 40px;
  height: 50px;
  margin: 0 10px;
  background: #ccc;
  border: #aaa 1px solid;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.waterTank-inner {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #6cf;
}
.waterTank-value {
  font-size: 10px;
  color: #fff;
  opacity: 0.6;
}

.compost {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background: #ccc;
  border: #aaa 1px solid;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.compost-inner {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #532;
}
.compost-level {
  font-size: 10px;
  color: #fff;
  opacity: 0.6;
}

.seed {
  text-align: left;
  margin: 10px 0;
  padding: 10px 0;
}

.months {
  font-size: 14px;
  letter-spacing: 0.3em;
  font-family: monospace;
}
.months .month {

}
.months .month.off {
  opacity: 0.1;
}
blockquote {
  font-family: serif;
}
