
.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 60px;
  height: 60px;
  background-color: #222;
  color: white;
}

.App-moon {
  padding: 10px;
  font-size: 18px;
}

.App-header nav {

}
.App-header nav > * {
  padding: 0 10px;
}

.App-body {
  max-width: 600px;
  margin: 0px auto;
}
